.container{
  width: auto;
  height:auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(182, 102, 16); */

}

body{
  background-image: url("../background/bgFullHD.png");
}

.cell {

  display: inline-block;
  margin: 10px;
  text-align: center;
  max-height: auto;
  max-width: auto;
  cursor: pointer;
  color: transparent;
  line-height: auto;
  /* height: auto;
  width: auto;  */
  overflow: hidden;
  position: relative;

}


.select_section{
  text-align: center;
  grid-gap: 10px;
  /*min-height: auto;*/
  /*max-height: auto;*/
  height: 325px;
  position: relative;

}

.main_section{
  /* background-color: rgb(161, 87, 7); */
  min-height: 332px;
  max-height: 332px;
  text-align: center;
  flex:1;
  padding-top: 40px;
  grid-gap: 10px;
  position: relative;
  border-radius: 200px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../background/bgFullHD.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}


.overlay {
  display: none;
  position: fixed;
  margin-top: 15%;
  margin-left: 35%;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
  background-color: #ccc;
  box-shadow: 0px 20px 20px 40px #ccc;
  z-index: 999;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  z-index: 1000;
  font-size: 40px;
}

.message{
  text-align: center;
  padding-top: 35%;
  font-size: 40px;

}